# Nuxt build & dev
.nuxt
.output
.cache
dist
.nitro
.data

# Node.js dependencies
node_modules

# System files
.DS_Store
.idea
.fleet

# Logs
logs
*.log

# Environment variables
.env
.env.*
!.env.example
